In [42]:
import os
import yaml
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
dataset = "sim-N"
dirs = os.listdir(f"../results/{dataset}")
dirs = [d for d in dirs if d != ".DS_Store"]  # annoying mac os files

results = []
for dir in dirs:
    runs = os.listdir(f"../results/{dataset}/{dir}")
    runs = [d for d in runs if d != ".DS_Store"]  
    for seed in runs:
        exp_dir = f"../results/{dataset}/{dir}/{seed}"
        with open(f"{exp_dir}/metrics.yaml", 'r') as io:
            metrics = yaml.safe_load(io)
        metrics['seed'] = seed

        with open(f"{exp_dir}/config.yaml", 'r') as io:
            cfg = yaml.safe_load(io)
        metrics['combo_reg'] = cfg['combo_reg']
        metrics['var_reg'] = cfg['var_reg']
        metrics['ratio_reg'] = cfg['ratio_reg']
        results.append(metrics)

results = pd.DataFrame(results)
results

,@0.1,@0.5,curve,density_negll,last_saved_epoch,seed,total_loss,var_reg_loss,combo_reg,var_reg,ratio_reg,ratio_reg_loss
0,0.033534,0.361734,0.161868,1.176606,9999,03,1.261006,0.084400,False,True,False,NaN
1,0.050681,0.014931,0.026773,1.127895,9999,04,1.203056,0.075162,False,True,False,NaN
2,0.003581,0.177964,0.113898,1.165649,9999,05,1.247111,0.081462,False,True,False,NaN
3,0.061428,0.082201,0.051574,1.217818,9999,02,1.304112,0.086294,False,True,False,NaN
4,0.095999,0.208718,0.138335,1.004896,9999,11,1.091077,0.086181,False,True,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
227,0.014786,0.175108,0.082447,1.211918,9999,78,1.211918,NaN,False,False,False,NaN
228,0.332914,0.050019,0.497854,0.731954,9999,13,0.731954,NaN,False,False,False,NaN
229,0.379297,0.063098,0.266920,0.390138,9999,14,0.390138,NaN,False,False,False,NaN
230,0.038324,0.250471,0.154612,1.169087,9999,22,1.169087,NaN,False,False,False,NaN
231,0.017238,0.160706,0.056462,1.139565,9999,25,1.139565,NaN,False,False,False,NaN

In [44]:
results.groupby(['combo_reg', 'var_reg', 'ratio_reg']).mean()

/var/folders/h3/2f91vbwj7r506n1w06610njh0000gn/T/ipykernel_36953/3722763504.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  results.groupby(['combo_reg', 'var_reg', 'ratio_reg']).mean()

                                 @0.1      @0.5     curve  density_negll  \
combo_reg var_reg ratio_reg
False     False   False      0.127560  0.196501  0.191278       1.031393
                  True       0.333326  0.372989  0.373807       0.452933
          True    False      0.077509  0.173965  0.123585       1.138050
True      True    True       0.062495  0.170388  0.140136       1.144637

                             last_saved_epoch  total_loss  var_reg_loss  \
combo_reg var_reg ratio_reg
False     False   False                9999.0    1.031393           NaN
                  True                 9999.0    0.465714           NaN
          True    False                9999.0    1.221114      0.083063
True      True    True                 9999.0    1.241244      0.082662

                             ratio_reg_loss
combo_reg var_reg ratio_reg
False     False   False                 NaN
                  True             0.012782
          True    False                 NaN
True      True    True             0.013944

In [45]:
results.groupby(['combo_reg', 'var_reg', 'ratio_reg']).std()

/var/folders/h3/2f91vbwj7r506n1w06610njh0000gn/T/ipykernel_36953/4238153298.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  results.groupby(['combo_reg', 'var_reg', 'ratio_reg']).std()

                                 @0.1      @0.5     curve  density_negll  \
combo_reg var_reg ratio_reg
False     False   False      0.227069  0.185319  0.194394       0.260959
                  True       0.194190  0.243533  0.128433       0.065402
          True    False      0.045626  0.118643  0.050443       0.108295
True      True    True       0.084860  0.126810  0.110795       0.099233

                             last_saved_epoch  total_loss  var_reg_loss  \
combo_reg var_reg ratio_reg
False     False   False                   0.0    0.260959           NaN
                  True                    0.0    0.065528           NaN
          True    False                   0.0    0.105608      0.005569
True      True    True                    0.0    0.098865      0.004055

                             ratio_reg_loss
combo_reg var_reg ratio_reg
False     False   False                 NaN
                  True             0.000155
          True    False                 NaN
True      True    True             0.000157