In [32]:
import os
import yaml
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
datasets = [d for d in os.listdir("../results") if not d.startswith(".")]

results = []
for dset in datasets:
    dirs =  [d for d in os.listdir(f"../results/{dset}") if not d.startswith(".")]

    for dir in dirs:
        runs = [d for d in os.listdir(f"../results/{dset}/{dir}") if not d.startswith(".")] 
        for seed in runs:
            exp_dir = f"../results/{dset}/{dir}/{seed}"
            with open(f"{exp_dir}/metrics.yaml", 'r') as io:
                metrics = yaml.safe_load(io)
            metrics['seed'] = seed

            with open(f"{exp_dir}/config.yaml", 'r') as io:
                cfg = yaml.safe_load(io)
            metrics['combo'] = int(cfg['combo_reg'])
            metrics['var'] = int(cfg['var_reg'])
            metrics['ratio'] = int(cfg['ratio_reg'])
            metrics['dataset'] = dset
            results.append(metrics)

results = pd.DataFrame(results)
results

,@0.1,@0.5,curve,density_negll,last_saved_epoch,ratio_reg_loss,seed,total_loss,var_reg_loss,combo,var,ratio,dataset
0,2.212505,0.132336,1.414881,0.495294,9999,0.012454,37,0.590122,0.082373,1,1,1,ihdp-N
1,1.194069,0.865343,0.939851,0.437447,9999,0.012398,19,0.525127,0.075282,1,1,1,ihdp-N
2,1.450734,1.171843,1.444253,0.598809,9999,0.012683,61,0.685736,0.074244,1,1,1,ihdp-N
3,0.451481,0.855417,0.674375,0.458166,9999,0.012321,84,0.549373,0.078886,1,1,1,ihdp-N
4,0.687560,1.582795,1.252051,0.463898,9999,0.012521,17,0.547223,0.070804,1,1,1,ihdp-N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,0.746841,0.469579,0.603129,0.514115,9999,NaN,06,0.514115,NaN,0,0,0,sim-N
446,0.749443,0.212001,0.644559,0.585418,9999,NaN,03,0.585418,NaN,0,0,0,sim-N
447,0.558084,0.135309,0.393922,0.468635,9999,NaN,22,0.468635,NaN,0,0,0,sim-N
448,1.524791,0.332245,0.910673,0.429742,9999,NaN,10,0.429742,NaN,0,0,0,sim-N
449,0.309140,0.132972,0.306165,0.626662,9999,NaN,07,0.626662,NaN,0,0,0,sim-N

In [34]:
results.groupby(['dataset', 'var', 'ratio']).mean().reset_index()

,dataset,var,ratio,@0.1,@0.5,curve,density_negll,last_saved_epoch,ratio_reg_loss,total_loss,var_reg_loss,combo
0,ihdp-N,0,0,0.842534,1.008065,0.993059,0.429663,9999.0,NaN,0.429663,NaN,0.0
1,ihdp-N,0,1,0.862888,1.238019,1.071032,0.423745,9999.0,0.012290,0.436034,NaN,0.0
2,ihdp-N,1,0,1.305834,1.016750,1.261063,0.482542,9999.0,NaN,0.560378,0.077836,0.0
3,ihdp-N,1,1,1.166215,0.895086,1.152641,0.476651,9999.0,0.012462,0.566357,0.077243,1.0
4,sim-N,0,0,0.404638,0.256243,0.434674,0.510744,9999.0,NaN,0.510744,NaN,0.0
5,sim-N,1,0,0.068782,0.187915,0.178173,1.227728,7619.0,NaN,1.466384,0.238656,0.0

In [35]:
results.groupby(['dataset', 'var', 'ratio']).std().reset_index()

,dataset,var,ratio,@0.1,@0.5,curve,density_negll,last_saved_epoch,ratio_reg_loss,total_loss,var_reg_loss,combo
0,ihdp-N,0,0,0.729048,0.437398,0.323135,0.027143,0.000000,NaN,0.027143,NaN,0.0
1,ihdp-N,0,1,0.797971,0.438890,0.372834,0.026393,0.000000,0.000157,0.026419,NaN,0.0
2,ihdp-N,1,0,0.890450,0.595605,0.508854,0.052812,0.000000,NaN,0.053704,0.003674,0.0
3,ihdp-N,1,1,0.897373,0.540626,0.487815,0.050736,0.000000,0.000167,0.051089,0.003834,0.0
4,sim-N,0,0,0.376554,0.222571,0.255714,0.083531,0.000000,NaN,0.083531,NaN,0.0
5,sim-N,1,0,0.054916,0.112659,0.116392,0.117093,385.140667,NaN,0.142356,0.054382,0.0